<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shopping.dao.ProductDAO">

	<select id="selectCategoryList" resultType="CategoryVO">
		select * from category order by cg_num
	</select>
	<select id="selectCategory" resultType="CategoryVO">
		select * from category where cg_num = #{cg_num}
	</select>
	<select id="selectProductList" resultType="ProductVO">
		select * from product where pr_cg_num = #{cri.cg_num} order by pr_num
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectProductTotalCount" resultType="int">
		select count(*) from product where pr_cg_num = #{cri.cg_num}
	</select>
</mapper>