<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.shopping.dao.ProductDAO">
	<select id="selectCategoryList" resultType="CategoryVO">
		select * from category
	</select>
	<select id="selectProductList" resultType="ProductVO">
		select * from product where pr_cg_num = #{cg_num}
	</select>
	
	<insert id="insertCart">
		insert into cart(ca_amount, ca_me_id, ca_pr_num)
		values(#{pr.pr_inventory}, #{me_id}, #{pr.pr_num})
	</insert>
	
</mapper>